#toggle-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#toggle-btn{
    height: 30px;
    width: 70px;
    border: 1px solid red;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    background-color: antiquewhite;
}
#text{
    margin-top: 100px;
}
#btn{
    position: relative;
    top: 1.4px;
    left: 2px;
    height: 27px;
    width: 27px;
    background-color: maroon;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
